@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
body {
    font-family: "Reddit Sans", sans-serif !important;
    background-image: url('../assets/experiencia.png');
    color: white !important;
    padding-top: 116px;
}
header{
    width: 100%;
    height: 15vh;
    position: fixed !important; 
    background-image: url('../assets/banner.png');
    background-size: auto;
    top: 0;
}
.menuHeader ul{
    font-weight: 100;
    margin: 20;
    padding: 0;
    text-align: right;
    margin-top: -100px;
}
.menuHeader li{
    display: inline; 
    margin-right: 60px; 
    vertical-align: top;
}
.menuHeader a{
    color: white;
}
.menuHeader a:hover{
    color:gray;
    text-decoration: none;
    cursor: pointer;
}
body h1{
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size:100px;
    padding-top: 30px;
    letter-spacing: 10px;
    text-align: center;
}
.tableContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
}
footer{
    bottom: 20;
    width: 100%;
    height: 100px;
    background-color: #090020 !important;
}
footer p{
    position: absolute;
    margin-top: 10px;
}
footer img{
    margin-top: 70px;
    margin-left: 200px;
}
th{
    font-weight: 900;
    font-size: 30px;
    background-color: #0F0039;
}
th, td {
    border: 5px solid white; 
    padding: 10px; 
    text-align: center; 
}
tbody tr:nth-child(even) {
    background-color: #0f003989;
}
tbody tr:nth-child(odd) {
    background-color: #0099ff94;
}