@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
body {
    font-family: "Reddit Sans", sans-serif !important;
    background-color: #0F0039 !important;
}

header{
    width: 100%;
    height: 15vh;
    position: fixed !important; 
    background-image: url('../assets/banner.png');
    background-size: auto;
    top: 0;
}
.menuHeader ul{
    font-weight: 100;
    margin: 20;
    padding: 0;
    text-align: right;
    margin-top: 50px;
}
.menuHeader li{
    display: inline; 
    margin-right: 30px; 
    vertical-align: top;
}
.menuHeader a{
    color: white;
}
.menuHeader a:hover{
    color:gray;
    text-decoration: none;
    cursor: pointer;
}
.menuHeader  img{
    width: 20vh;
    display: block;
    float: left;
    margin-top: -40px;
}
main{
    margin-top: 13vh;
}
#seccionBanner{
    background-color: #0F0039;
    width:100%;
    height: 70.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px; 
    
}
#seccionBanner h1{
    font-weight: 900;
    font-size: 70px;
    display: block;
    text-align: right;
    color: white;
    margin-left: 240px;
}
#seccionBanner iframe{
    display: block;
    margin: 0 auto;
    float: right;
    margin-right: 130px;
}
#seccionSobreMi{
    background-color: white;
    width:200%;
    height: 84.5vh;
    margin-top: 13px;
}
#seccionSobreMi img{
    display: block;
    width: 40vh;
    height: 70vh;
    margin-top: -340px;
    margin-left: 100px;
}
#seccionSobreMi p{
    display: block;
    width: 100vh;
    height: 30vh;
    margin-top: 70px;
    margin-left: 460px;
    color: #0F0039;
}
#seccionSobreMi h1{
    /* display: block; */
    font-size: 70px;
    font-weight: 600;
    color: #0F0039;
    margin-top: 300px;
    margin-left: 460px;
}  